# PLAYVID

## Frontend
NEXT_PUBLIC_APP_NAME=PLAYVID
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=your_paystack_public_key

## API
PORT=4000
PAYSTACK_SECRET_KEY=your_paystack_secret_key
PAYSTACK_BASE_URL=https://api.paystack.co
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/playvid
JWT_SECRET=supersecretjwtkey
